.btn,
.btn:link,
.btn:visited {
    border-radius: 0.25em;
    border-style: solid;
    border-width: 1px;
    color: #49494B;
    display: inline-block;
    font-family: avenir, helvetica, roboto, arial, sans-serif;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
}

.btn:hover,
.btn:focus {
    color: #C4E4DF;
    border: 1px solid #C4E4DF;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn:active {
    color: #B6D4D0;
    border: 1px solid #B6D4D0;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-sm,
.btn-sm:link,
.btn-sm:visited {
    border-radius: 0.25em;
    border-style: solid;
    border-width: 1px;
    color: #49494B;
    display: inline-block;
    font-family: avenir, helvetica, roboto, arial, sans-serif;
    font-size: 10px;
    letter-spacing: 0.15em;
    float: right;
    margin-top: .75rem;
    margin-right: 2.5em;
    padding: .25em 1em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
}

.btn-sm:hover,
.btn-sm:focus {
    color: #C4E4DF;
    border: 1px solid #C4E4DF;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-sm:active {
    color: #B6D4D0;
    border: 1px solid #B6D4D0;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}


/*
  Sizes
  Small  = .btn--s
  Medium = .btn--m
  Large  = .btn--l
  Code:
  <a href="#" class="btn btn--s">
  <a href="#" class="btn btn--m">
  <a href="#" class="btn btn--l">
*/

.btn--s {
    font-size: 14px;
}

.btn--m {
    font-size: 16px;
}

.btn--l {
    font-size: 20px;
    border-radius: 0.25em !important;
}


/*
  Layout utility for responsive buttons
  Code:
  <a href="#" class="btn btn--full">
*/

.btn--full,
.btn--full:link {
    border-radius: 0.25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}


/*
  Skins
  * Black & White
  * Grays
  * Colors
  Code:
  <a href="#" class="btn btn--black">
  <a href="#" class="btn btn--white">
  <a href="#" class="btn btn--gray">
  <a href="#" class="btn btn--gray-dark">
  <a href="#" class="btn btn--gray-border">
  <a href="#" class="btn btn--blue">
*/


/* BLACK & WHITE */

.btn--black,
.btn--black:link,
.btn--black:visited {
    color: #fff;
    background-color: #111;
}

.btn--black:hover,
.btn--black:focus {
    color: #fff;
    background-color: #444;
    border-color: #444;
}

.btn--black:active {
    color: #fff;
    background-color: #999;
    border-color: #999;
}

.btn--white,
.btn--white:link,
.btn--white:visited {
    color: #111;
    background-color: #fff;
}

.btn--white:hover,
.btn--white:focus {
    color: #111;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
}

.btn--white:active {
    color: #111;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
}


/* Gray */

.btn--gray:link,
.btn--gray:visited {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    color: #555;
}

.btn--gray:hover,
.btn--gray:focus {
    background-color: #ddd;
    border-color: #ddd;
    color: #444;
}

.btn--gray:active {
    background-color: #ccc;
    border-color: #ccc;
    color: #444;
}

.btn--gray-border:link,
.btn--gray-border:visited {
    background-color: #fff;
    border-color: #555;
    border-width: 2px;
    color: #555;
}

.btn--gray-border:hover,
.btn--gray-border:focus {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
}

.btn--gray-border:active {
    background-color: #ccc;
    border-color: #ccc;
    color: #444;
}

.btn--gray-dark:link,
.btn--gray-dark:visited {
    background-color: #555;
    color: #eee;
}

.btn--gray-dark:hover,
.btn--gray-dark:focus {
    background-color: #333;
    border-color: #333;
    color: #eee;
}

.btn--gray-dark:active {
    background-color: #777;
    border-color: #777;
    color: #eee;
}


/* BLUE */

.btn--blue:link,
.btn--blue:visited {
    color: #fff;
    background-color: #0074D9;
}

.btn--blue:hover,
.btn--blue:focus {
    color: #fff !important;
    background-color: #0063aa;
    border-color: #0063aa;
}

.btn--blue:active {
    color: #fff;
    background-color: #001F3F;
    border-color: #001F3F;
}

.scroll-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #f9826e url(img/top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.scroll-top.scroll-is-visible,
.scroll-top.scroll-fade-out,
.scroll-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.scroll-top.scroll-is-visible {
    visibility: visible;
    opacity: 1;
}

.scroll-top.scroll-fade-out {
    opacity: .5;
}

.scroll-top:hover {
    background-color: #f9826e;
    opacity: 1;
}

@media screen and (min-width: 32em) {
    .btn--full {
        max-width: 16em !important;
    }
}